.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.nav__ul {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e3632;
    position: relative;
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 12px;
    bottom: 8px;
}
.nav__notification2 {
    background-color: tomato;
    color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 18px;
}